
@{
    ViewBag.Title = "Index";
}

<h2>Upload JSON File</h2>
<hr/>

<center>
    @using (Html.BeginForm("uploadjson", "Json", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <h4>@ViewBag.errorMsg</h4>
        <h4>@ViewBag.successMsg</h4>

        <input type="file" id="JSONFile" name="filejson" />

        <p>
            <input type="submit" value="Save" />
        </p>
    }

</center>

